*{
box-sizing: border-box;
}
body{
font-family: sans-serif;
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
margin: 10%;
}
.container{
background-color:bisque;
border-radius: 5px;
overflow: hidden;
max-width: 100%;
box-shadow: 10px 20px 25px rgba(0,0,0,.2);
width: 600px;
}
.header{
text-align: center;
margin: 0;
padding-top: 5%;
}
.form{
padding: 30px 60px;
}
.form-control{
margin-bottom: 10px;
padding-bottom: 10px;
position: relative;
}
.form-control input{
display: block;
padding: 10px;
width: 100%;
border: 2px solid black;
border-radius: 4px;
font-size: 14px;
margin-top: 8px;
margin-bottom: 4%;
}
.form-control input:focus{
outline: none;
border-color: #777;
}
input[type="submit"]{
margin-top: 5%;border: none;
background-color: blue;
display: block;
font-size: 16px;
padding: 10px;
border-radius: 4px;
color: white;
width: 100%;
}
#anchor{
font-size: large;
display: flex;
justify-content: center;
align-items: center;
margin-top: 10%;
}
.form-control.error input {
border: 2px solid red;
}
.form-control.success input {
border: 2px solid green;
}
.form-control i{
visibility: hidden;
position: absolute;
top: 40px;
right: 10px;
}
.form-control.success i{
color: green;
visibility: visible;
}
.form-control small{
font-weight: bold;
color: red;
position:absolute;
left: 0;
bottom: 0;
visibility: hidden;
}
.form-control.error small{
visibility: visible;
}
.errmsg{
border-radius: 5px;
border: 1px solid red;
background: pink;
text-align: left;
color: brown;
padding: 5px;
}
.successmsg{
border-radius: 5px;
border: 1px solid green;
background: #33CC00;
text-align: left;
color: white;
padding: 5px;
}